body {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("assets/img/sand2_background.jpg");
	/* background-attachment: fixed; */
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
	font-size: 14pt;
	/* width: 100%; */
	text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}
#header h2 {
    margin-top: 0;
}
.box {
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}
.no-bullet {
	list-style-type: none;
}
@media (min-width: 992px) {
    .links-toggle {
        display: none;
    }
    #header .toggle {
        display: block;
    }
}
.links-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.links-toggle:hover, .links-toggle:active {
    background-color: rgba(255,255,255,0.25);
    box-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
.links-toggle .icon-bar {
    background-color: #ffffff;
    display: block;
    margin: 3px 0;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.links-toggle:hover .icon-bar {
    box-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
/* By default it's not affixed in mobile views, so undo that */
#header.affix {
  position: static;
}
/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  #header .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  #header.affix,
  #header.affix-bottom {
    width: 263px;
  }
  #header.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 20px;
  }
  #header.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }

}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  #header.affix-bottom,
  #header.affix {
    width: 330px;
  }
}
