<div id="header" class="box-no-padding">
	<div style="display: inline;">
	<button type="button" class="add-padding links-toggle" data-toggle="collapse" data-target="#header .toggle">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<h2 class="add-padding">Jacob's Site</h2>
	</div>
	<div class="toggle collapse">
		<ul class="no-bullet">
			<li><%= link_to_unless_current("Home", @items['/']) %></li>
			<li><%= link_to_unless_current("About", @items['/about/']) %></li>
			<li><%= link_to_unless_current("Ephemera", @items['/ephemera/']) %></li>
			<li><%= link_to("CV " + "<i class='icon-file'></i>", @items['/CV/'], :target => "_blank") %></li>
		</ul>
		<img class="img-responsive" src="../profile_pic.jpg" alt="Photo of Jacob">
		<div style="margin-left: auto; margin-right: auto; text-align: center;">
			<%= render 'social' %>
		</div>
	</div>
</div>
