<!DOCTYPE html>
<html>
<%= render 'html_header' %>
<body>
	<%= render 'mapdiv' %>
	<div class="col-md-4">
		<%= render 'header' %>
	</div>
	<div class="col-md-8">
		<div class="box">
			<%= link_to("< Ephemera", @items['/ephemera/']) %>
		</div>
	</div>
	<div class="col-md-8">
		<div class="box">
			<h2><%= item[:title] %></h2>
			<aside><span class="author-date">By <%= item[:author] %> on <%= get_pretty_date(item) %></span></aside> 
			<article>
				<%= yield %>
			</article>
		</div>
	</div>
</body>
<%= render 'map' %>
</html>
