<div class="social add-padding">
	<h3>Connect with me:</h3>
		<a href="https://twitter.com/jtsMN"><i class="icon-twitter icon-3x"></i><!-- @jtsMN --></a>
		<a href="https://plus.google.com/116066695120696248771"><i class="icon-google-plus icon-3x"></i><!-- Jacob Thebault-Spieker --> </a>
		<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#116;&#104;&#101;&#98;&#97;&#117;&#108;&#116;&#64;&#99;&#115;&#46;&#117;&#109;&#110;&#46;&#101;&#100;&#117;"><i class="icon-envelope-alt icon-3x"></i><!-- thebault@cs.umn.edu --></a>
</div>
